BODY
{font-family: verdana, tahoma, arial, sans-serif;
font-size: 10pt;
margin: 0px;
margin-left: 3px;
margin-right: 3px;
padding: 0px;}

P
{padding-top: 10px;
margin: 0px;}

H1
{font-size: 12pt;
font-weight: bold;
padding-top: 2px;
margin: 0;}

table.navbar
{font-size: 10pt;
margin: 0px;
padding: 0px; 
border: 0px; 
font-weight: normal;
background-color: #88F9FF;}

table.menu
{font-size: 8pt;
margin: 0px;
padding: 0px;
font-weight: bold;}

table.footerbar
{font-size: 10pt;
margin: 0px;
padding: 0px; 
border: 0px; 
font-weight: normal;
background-color: #88F9FF;}  

td.footerItem
{padding: 0px;
color: black;
font-weight: bold;
background-color: #88F9FF;}

td.menuNormal
{padding: 0px;
color: black;
font-weight: bold;
vertical-align: top;
background-color: #88F9FF;}
 
td.menuHover
{padding: 0px;
color: #4040FF;
font-weight: bold;
vertical-align: top;   
background-color: #C0F0FF; } 

div.menuNormal
{display: none;
position: static;}

div.menuHover
{background-color: #88F9FF;
display: inline;
position: absolute;}

a.menuitem:link
{text-decoration: none;
color: black;
background-color: #88F9FF;
display: block;}

a.menuitem:visited
{text-decoration: none;
color: black;
background-color: #88F9FF;
display: block;}

a.menuitem:hover
{text-decoration: none;
color: #2020E0;
background-color: #C0F0FF;
display: block;}

a.menuitem:active
{text-decoration: none;
color: black;
background-color: #88F9FF;
display: block;}